<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>ElectroIT</title>
        <meta name="keywords" content="telefon, tableta, laptop, televizor, ceas inteligent, smartwatch, smartphone, husa, incarcator, baterie externa, HDD, SSD">
        <meta name="description" content="Pe site-ul ElectroIT poti gasi dispozitivele tale preferate la cele mai mici preturi!">


        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
    <main>
        <div id = "grid-pagina">
            <section style="width: 100%;">
                <h2>Despre noi</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nisi, iure qui quod ratione magni, aut reiciendis necessitatibus laboriosam rerum maiores. Iste voluptatibus minus incidunt, laboriosam aperiam tempora sequi! Odit nihil at aliquam delectus hic veritatis dolorum, non numquam sed facilis nesciunt minus ratione nobis soluta excepturi maxime vel autem eligendi error saepe, minima perferendis eius, vero cupiditate. Est pariatur enim similique dolore iste, earum, sunt, impedit officia officiis quisquam ipsa rerum consequatur illo aut ex omnis voluptates quo ab inventore reiciendis numquam asperiores doloremque. Sed, quasi et, possimus doloremque illum dolorem id architecto distinctio aliquid temporibus nemo aperiam quis.</p>
            </section>
        </div>
    </main>
    <div class="watermark">
    </div>
    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>