html {
    font-size: 18px;
}

img {
    width:100%;
    max-width:400px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size : 2.5rem;
    text-align: center;
}

h2 {
    font-size : 2rem;
}

main {
    margin-top: 100px;
}

video{
    width: 100%;
}

video::cue{
    background-color: transparent;
    color: white;
    text-shadow: 2px 4px 4px  black;
}


/*definire variabile css pt culori si diverse butoane*/
body { /*schema cromatica se bazeaza pe culorile celor de la Apple, remarcandu-se prin lipsa de "culoare", preferate fiind nonculorile*/
    --culoare-fundal:#EEEEEE;
    --culoare-fundal-inchis:#979797;
    --culoare-border-par:#12192F;
    --culoare-border-impar:#000000;
    --culoare-inchisa:#666666;
    --culoare-tema-inchisa: #292c35;

    --culoare-hover: #6D8AC2;
    --culoare-hover2: #425F8F;
    --culoare-text: black;
    --spatiere-pagina: 30px;
    --padding-sectiune: 15px;

    --latime-buton-iframe: 100px;
    --inaltime-buton-iframe: 50px;
}

body.dark{ /*de modificat*/
    --culoare-fundal:var(--culoare-tema-inchisa);
    --culoare-text:white;
}

body{
    background-color: var(--culoare-fundal);
    color:var(--culoare-text);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    min-width: 450px;
    margin: 0;
}

main a{
    background-position: center;
    background-size: 0;
    background-repeat: no-repeat;
}

main a:visited{
    color: var(--culoare-hover2);
}

main a[href^="http"]::before{
    content: "⮳";
    font-size: 1.5rem;
}

main a[href^="http"]:hover::before{
    color: var(--culoare-border-impar);
}

main a:hover{
    background-size: 100%;
    color: var(--culoare-border-par);
    background-image: radial-gradient(var(--culoare-hover) 40%, transparent 80%, transparent 100%);
    transition: all 0.9s linear;
}

main a:active{
    border: 1.5px solid var(--culoare-border-impar);
}

a:not(.iframe-container) {
    display: inline;
}


/*definire grid pagina*/

#grid-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "z-welcome z-welcome z-welcome z-welcome"
                         "z-oferte z-oferte z-evenimente z-evenimente"
                         "z-oferte z-oferte z-anunturi z-anunturi"
                         "z-utilizatori z-utilizatori-statistici z-utilizatori-statistici z-server-site"
                         "z-index-intrebari z-index-intrebari z-index-intrebari z-index-intrebari";
    gap: 10px 10px;
}

#grid-pagina > * {
    border: 3px solid var(--culoare-border-par);
    padding:var(--padding-sectiune);
}

#welcome{
    grid-area: z-welcome;
}

#oferte{
    grid-area: z-oferte;
}

#evenimente{
    grid-area: z-evenimente;
}

#anunturi{
    grid-area: z-anunturi;
    position: relative;
    width: 100%;
    padding: 1rem;
} 

#utilizatori{
    grid-area: z-utilizatori;
}

#utilizatori-statistici{
    grid-area: z-utilizatori-statistici;
}

#server-site{
    grid-area: z-server-site;
}
 
#index-intrebari{
    grid-area: z-index-intrebari;
}


/*stilizare tabel*/
caption {
    caption-side: bottom;
    background-color: var(--culoare-fundal-inchis);
    color: var(--culoare-text);
    font-weight: bold;
}

td:empty{
    display: none;
}

td:nth-child(even), th:nth-child(even) {
    background-color: var(--culoare-inchisa);

}

td:nth-child(odd), th:nth-child(odd) {
    background-color: var(--culoare-fundal-inchis);
}

td {
    transition: 0.5s;
}

table{
    width: 100%;
    border-collapse: collapse;
    min-width: fit-content;
}

.tabela-oferte{
    width: 100%;
    border-radius: 15px;
    border: 3px solid;
    /*overflow:scroll;*/
    overflow: auto;
}

tr:hover td{
    background-color: var(--culoare-hover);
    box-shadow: 2px 2px 2px 2px var(--culoare-inchisa);

}

tr td:hover{
    background-color: var(--culoare-hover2);
    box-shadow: 2px 2px 2px 2px var(--culoare-fundal-inchis);

}

td, th, caption{
    padding: 10px;
}

tr {
    text-align: center;
}

tfoot {
    border-top: 3px solid;
    border-bottom: 3px solid;
}



/*stilizare iframe*/
iframe{
    max-height: 750px;
    max-width: 1200px;
    border: 4px solid var(--culoare-hover);
}

.ifr-link {
    width: var(--latime-buton-iframe);
    height: var(--inaltime-buton-iframe);
    background: var(--culoare-fundal);
    text-align:center;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--culoare-border-impar);
    display:flex;
    justify-content: center;
    align-items:center;
    margin-right: 10px;
    margin-top: 3px;
    border: 2px solid var(--culoare-hover);
    box-shadow: 1px 1px 2px 1px var(--culoare-hover);
    transition: background-color 400ms linear;        
}

.ifr-link:hover{
    background: var(--culoare-hover);
    color:var(--culoare-fundal);
}

.iframe-container{
    display: flex;
    display: inline-block;
}

.taburi-iframe{
    display: flex;
    flex-direction:row;
    justify-content: center;

}


/*stilizare link-top*/
#link-top {
    position:fixed;
    bottom:1em;
    right:1em;
    width:3rem;
    height:3rem;
    opacity:0.5;    
    line-height:2.5rem;
    text-align: center;
    box-sizing:content-box;
    box-shadow: 0 0 0.3rem var(--culoare-fundal-inchis);
    background-color: var(--culoare-fundal);
    transition: opacity 700ms;
    /*forma de romb*/
    border:2px solid var(--culoare-border-impar);
    transform: rotate(45deg);
}

#link-top:hover{
    opacity:1;
    background-color: var(--culoare-fundal-inchis);
}

#triunghi{
    border-radius: 75%;
    display:inline-block;
    border-bottom:2rem solid var(--culoare-inchisa);
    border-left:1.1rem solid transparent;
    border-right:1.1rem solid transparent;
    vertical-align: top;
    transform: rotate(-45deg) translateX(-0.35rem);
}

#link-top:hover #triunghi {
    border-bottom-color: white;
}

.watermark {
    display: none;
}

video {
    width: 100%;
    min-width: 450px;
    max-width: 1500px;
}

video::cue{
    background: linear-gradient(to right, var(--culoare-fundal), var(--culoare-fundal-inchis));
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}


.hr {
    display: flex;
    border: none;
  }
  .hr::after, .hr::before {
    content: "";
    flex: 1;
  }
  
.linie {
    overflow: hidden;
    align-items: center;
    background: var(--culoare-hover);
    color: black;
    height: 0.5em;
    line-height: 1em;
  }
.linie::after, .linie::before {
    background: var(--culoare-fundal);
    padding: 40px 10px;
    height: 0;
    transform: rotate(45deg);
}

  

/*Duotone */
.duotone-image {
    position: relative;
    width: 300px; 
    height: 300px; 
    background-image: url('../imagini/iphone12.jpg'); 
    background-size: cover; 
  }
  
  .duotone-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--culoare-hover); 
    mix-blend-mode: multiply; /* modul de amestecare a culorilor */
  }
  
  .duotone-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--culoare-hover2);
    mix-blend-mode: multiply; 
    opacity: 0; 
    transition: opacity 3s ease, background-color 0.5s ease;
  }
  

  .duotone-image:hover::before {
    background-color: var(--culoare-fundal);
    transition: background-color 0.5s ease;
}
  
  .duotone-image:hover::after {
    opacity: 1; 
    background-color: var(--culoare-fundal-inchis); 
    transition: opacity 0.5s ease;

  }



/*text reflectat*/

#cont {
    display: flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom: 30px;
}

#text-reflectat {
	transition: color 0.3s ease-in-out;
    transform: scaleX(-1) rotateX(30deg) rotateY(-45deg);

}

#text {
	transition: color 0.3s ease-in-out;
    transform: rotateX(-30deg) rotateY(45deg);

}

#text, #text-reflectat {
	font-size: 3.5rem;
	line-height: 2rem;
}

#cont:hover #text, #cont:hover #text-reflectat {
    color: var(--culoare-hover);
}




/*scrierea textului pe coloane*/
.col {
    column-count: 2;
    column-gap: 20px;
    column-rule: 1px solid #000;
}

/*Schimbarea afișării implicite a textului selectat*/

  ::selection {
    color: var(--culoare-hover2);
    background-color: var(--culoare-fundal-inchis);
  }


  /*text care se plimba*/
  .moving-text-container {
    max-width: 100%;
    overflow-x: hidden; /* Ascunde scrollbarul orizontal */
    overflow-y: hidden;
  }

  .moving-text {
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    width: 100%; 
    animation: moving-text 8s linear infinite;
  }

  @keyframes moving-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* Stiluri responsive */
  @media (max-width: 768px) {
    .moving-text {
      white-space: normal;
      overflow: auto;
      width: auto;
      animation: moving-text-vertical 8s linear infinite;
    }

    @keyframes moving-text-vertical {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(-100%);
      }
    }
  }


#transpus thead, #transpus tbody, #transpus tr {
	display: block; 
	float: left; 
}

#transpus th, #transpus td { 
	display: block; 
	border:1px solid black;
	padding:0.3em;
}

#transpus td+td, #transpus th+th { 
	border-top:none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;  
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.checkbox {
  opacity: 0;
  position: absolute;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}


.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.fa-moon, .fa-sun {
    font-size: 18px; /* Adjust the font size as desired */
  }
  
  #banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: slide-up 3s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    20% {
      transform: translateY(calc(-100%+20px)); 
      color: var(--culoare-fundal);
    }
    100% {
      transform: translateY(0); 
      color: #fff; 
    }
  }
  
  #banner.show {
    animation: slide-up 3s linear;
    bottom: 0;
  }
  #mesaj-cookies {
    display: inline-block;
    margin-top: 5px;
  }
  
  #ok_cookies {
    margin-left: 10px;
  }

  footer ul {
    white-space: nowrap;
    text-align: center;
  }

  footer li {
    list-style-type: none;
    display: inline;
    padding: 0 10px;
    text-align: center;
  }

