body {
    --latime-buton: 100%;
    --inaltime-buton:40px;
}

#hamburger {
    display: block;
}

#hamburger>img {
    height: var(--inaltime-meniu);
    width: auto;
    display: block;
    margin: 0;
}

ul.meniu {
    display: none;
}

#ch-menu:checked+ul.meniu{
    display: block;
    animation-name: animatie_meniu;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin:left top;
}

@keyframes animatie_meniu {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    } 
    50% {
        transform: scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform: (1,1);
    }
}

ul.meniu li ul.arrow li:hover::after {
    display: none;
}

nav ul li:hover {
    box-shadow: none;
  }
  
  nav ul li ul li:hover {
    box-shadow: 3px 3px 20px 2.5px rgb(250, 251, 249) inset;
  }
  
  nav ul li ul li:hover ~ .arrow > li > a {
    box-shadow: none;
  }
  
  
  
  
  