<footer>
    <p id = "banner">Acesta este un proiect scolar!</p>
    <div id = "contact">
    <address>
        <ul>
            <li><a href = "tel:+40333789018">+40333789018</a></li>
            <li><a href = "mailto:exemplu@yahoo.com">Trimite un mail</a></li>
            <li><a href = "https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355355,26.097398,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?hl=en" target = "_blank">Adresa</a></li>
            <li><a href = "skype:user?chat">Skype</a></li>
        </ul>
    </address>
    <small>Copyright &copy; <time datetime="2023-03-04">4 Martie 2023</time></small>
    <a href="#" id="link-top" title = "Mergi sus"><div id="triunghi"></div></a>
    </div>
</footer>